
<ion-header>

  <ion-navbar >
    <ion-title class="header">{{this.mode}} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="recipieForm" (ngSubmit)="onSubmit()" >
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Decription</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option *ngFor="let option of selectOptions" [value]="option">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button type="button" 
    ion-button 
    clear 
    block 
    (click)="onManageIngredients()"> Mange Ingredients</button>
    <ion-list formArrayName="ingredients">
        <!--<ion-item
          *ngFor="let igControl of recipieForm.get('ingredients').controls; let i = index">
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [formControlName]="i"></ion-input>
        </ion-item-->
        <div *ngFor="let igControl of recipieForm.get('ingredients').controls; let i = index">
          <ion-list [formGroupName]="i">
            <ion-row>
              <ion-col width-75>
                <ion-item>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input type="number" formControlName="ammount"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>
      </ion-list>
    <button type="submit" ion-button block [disabled]="!recipieForm.valid">{{mode}}</button>
  </form>
</ion-content>
